---
#------------------------------------------------------------------------------
# base environment
#------------------------------------------------------------------------------

- name: Speed up dnf
  become: yes
  ini_file:
    path: /etc/dnf/dnf.conf
    section: main
    option: "fastestmirror"
    value: "true"

- name: Update system
  become: yes
  dnf:
    name: '*'
    state: latest

- name: Install basic packages 
  become: yes
  dnf:
    name:
      - tig
      - htop
      - git
      - git-lfs
      - rust
      - cargo
      - python3-psutil
      - openssl
      - jq
      - tree
      - bat
    state: present

- import_tasks: user.yml

- import_tasks: terminal.yml

- import_tasks: extra.yml

- import_tasks: cloud-dev.yml

- import_task: gnome.yml
