---
#------------------------------------------------------------------------------
# Elementary OS
#------------------------------------------------------------------------------

- name: Add repository
  become: true
  apt_repository:
    repo: ppa:philip.scott/pantheon-tweaks

- name: Install additional packages
  become: true
  apt:
    pkg:
      - pantheon-tweaks
      - dconf-editor
      - ubuntu-restricted-extras
      - libavcodec-extra
      - ffmpeg
    state: present


#------------------------------------------------------------------------------
# Mozilla
#------------------------------------------------------------------------------

- name: Add repository for Mozilla VPN
  become: true
  apt_repository:
    repo: ppa:mozillacorp/mozillavpn

- name: Install additional packages
  become: true
  apt:
    name: firefox mozillavpn
    state: present


#------------------------------------------------------------------------------
# Google Chrome
#------------------------------------------------------------------------------

- name: Add APT signing key
  become: true
  apt_key:
    url: "https://dl.google.com/linux/linux_signing_key.pub"
    state: present

- name: Add google chrome repository
  become: true
  apt_repository:
    repo: deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main
    state: present
    filename: google-chrome

- name: Install additional packages
  become: true
  apt:
    name: google-chrome-stable
    state: present


#------------------------------------------------------------------------------
# Vivaldi
#------------------------------------------------------------------------------

- name: Add APT signing key
  become: true
  apt_key:
    url: https://repo.vivaldi.com/archive/linux_signing_key.pub
    state: present

- name: Add vivaldi repository
  become: true
  apt_repository:
    repo: deb [arch=amd64] https://repo.vivaldi.com/archive/deb/ stable main
    state: present
    filename: vivaldi

- name: Install additional packages
  become: true
  apt:
    name: vivaldi-stable
    state: present
    extra_package_list: "{{ extra_package_list + [''] }}"

#------------------------------------------------------------------------------
# Github CLI
#------------------------------------------------------------------------------

- name: Add apt signing key
  become: true
  apt_key:
    url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    keyring: /etc/apt/trusted.gpg.d/packages.github.gpg
    state: present

- name: Add vscode repository
  become: true
  apt_repository:
    repo: deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/packages.github.gpg] https://cli.github.com/packages stable main
    state: present
    filename: github-cli

- name: Install additional packages
  become: true
  apt:
    name: gh


#------------------------------------------------------------------------------
# Kubectl
#------------------------------------------------------------------------------

- name: Add APT signing key
  become: true
  apt_key:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    keyring: /etc/apt/trusted.gpg.d/packages.kubernetes.gpg
    state: present

- name: Add vscode repository
  become: true
  apt_repository:
    repo: deb [/etc/apt/trusted.gpg.d/packages.kubernetes.gpg] https://apt.kubernetes.io/ kubernetes-xenial main
    state: present
    filename: kubernetes-kubectl

- name: Install additional packages
  become: true
  apt:
    name: kubectl
    state: present

#------------------------------------------------------------------------------
# Docker CE
#------------------------------------------------------------------------------

- name: Remove legacy Docker packages
  become: true
  apt:
    name: "{{ package }}"
    purge: yes
    state: absent
  vars:
    package:
    - lxc-docker
    - docker
    - docker-engine

- name: Add APT signing key
  become: true
  apt_key:
    url: "https://download.docker.com/linux/ubuntu/gpg"
    state: present

- name: Add APT repository
  become: true
  apt_repository:
    repo: "deb https://download.docker.com/linux/ubuntu focal stable"
    state: present

- name: Install Docker CE
  become: true
  apt:
    name: docker-ce docker-ce docker-ce-cli containerd.io docker-compose
    state: present

- name: Ensure group "docker" exists
  become: true
  group:
    name: docker
    state: present

- name: Adding existing user {{ user.name }} to group docker (to run docker without sudo)
  become: true
  user:
    name: "{{ user.name }}"
    groups:
      - docker
    append: yes


#------------------------------------------------------------------------------
# Atom
#------------------------------------------------------------------------------

- name: Add APT signing key
  become: true
  apt_key:
    url: https://packagecloud.io/AtomEditor/atom/gpgkey
    keyring: /etc/apt/trusted.gpg.d/packages.atom.gpg
    state: present

- name: Add Atom repository
  become: true
  apt_repository:
    repo: deb [arch=amd64] https://packagecloud.io/AtomEditor/atom/any/ any main
    state: present
    filename: atom-editor

- name: Install additional packages
  become: true
  apt:
    name: atom
    state: present
