---
#------------------------------------------------------------------------------
# base environment
#------------------------------------------------------------------------------


#
# python3-pip ??
# 
#
- name: initialize package list
  set_fact:
    base_package_list:
      - "curl"
      - "tig"
      - "htop"
      - "git"
      - "git-lfs"
      - "rust"
      - "cargo"
      - "openssl"
      - "jq"
      - "tree"
      - "apt-transport-https"
      - "ca-certificates"
      - "gnupg"

- import_tasks: user.yml

- import_tasks: neovim.yml

- import_tasks: tmux.yml

- name: update all packages to their latest version
  apt:
    name: "*"
    state: latest
    update_cache: yes
    autoremove: yes

- name: ensure packages are installed
  become: yes
  apt:
    name: "{{ base_package_list }}"
    state: latest
    update_cache: yes
