---
#------------------------------------------------------------------------------
# configure konsole
#------------------------------------------------------------------------------

- name: create directories
  become: yes
  file:
    path: "{{ user.home }}/{{ item }}"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group.name }}"
  loop:
    - ".local/share/konsole"

- name: copy configuration
  become: yes
  copy:
    src: "konsole/{{ item.name }}"
    dest: "{{ user.home }}/.local/share/konsole/{{ item.name }}"
    mode: "{{ item.mode }}"
    owner: "{{ user.name }}"
    group: "{{ user.group.name }}"
  with_items:
    - { name: 'nord.colorscheme', mode: 'u+rw' }
    - { name: 'custom.profile', mode: 'u+rw' }

- name: edit configuration file
  ini_file:
    path: /home/{{ user.name }}/.config/konsolerc
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    mode: '0600'
    backup: yes
  with_items:
    - { section: 'Desktop Entry', option: 'DefaultProfile', value: 'custom.profile' }
    - { section: 'Favorite Profiles', option: 'Favorites', value: 'custom.profile' }
    - { section: 'KonsoleWindow', option: 'ShowMenuBarByDefault', value: 'false' }
    - { section: 'TabBar', option: 'TabBarVisibility', value: 'ShowTabBarWhenNeeded' }
